<div class="container-fluid header-content">
	<!-- div video -->
	<div class="row">
		<div class="col-xl-12 header-video-container">
			<video autoplay="autoplay" loop="loop">
				<source src="assets/video/leaves.mp4" type="video/mp4">
			</video>
		</div>
	</div>
	<!-- div video -->

	<div class="d-flex h-100 flex-column justify-content-center">
		<div class="p-2 align-self-center">
			<p>Mantente al dia con CDP System. Pregunta a Cristian para tener acceso a todas sus funciones</p>
			<p class="text-center"><a>Preguntar</a></p>
		</div>
	</div>


	</div>
<cdp-menu></cdp-menu>

