<!-- menu 1 -->
<nav id="header-menu" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top header-menu ">
  <a class="navbar-brand" href="#">CDPSystem</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['/home/1']" [routerLinkActive]="['active']">Inicio <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" [routerLink]="['/home/2']" [routerLinkActive]="['active']">Calendario</a>
      <a class="nav-item nav-link" [routerLink]="['/home/3']" [routerLinkActive]="['active']">Resumen</a>
      <a class="nav-item nav-link disabled" [routerLink]="['/home/4']" [routerLinkActive]="['active']">Disabled</a>
    </div>
  </div>
</nav>
<!-- menu 1 -->
